@import "_nullstyle.scss";

.сhess-board {
   margin: 150px auto;
   border: 5px solid rgb(111, 53, 0);
   height: 832px;
   width: 832px;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(8, 1fr);
   position: relative;
}
.line {
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: 1fr;
}
.cell {
   margin: -1px;
   font-size: 40px;
   text-align: center;
   padding: 20px;
}
.size-figure {
   color: white;
}

.alphabets,
.numberings {
   /* border: 5px solid rgb(111, 53, 0); */
   display: grid;
   grid-template-columns: 1fr;
   position: absolute;
}
.alphabets {
   width: 833px;
   height: 100px;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: 1fr;
   top: 837px;
   left: -6px;
}

.numberings {
   width: 100px;
   height: 832px;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(8, 1fr);
   bottom: -5px;
   right: 838px;
}
.alphabets-p {
   top: -114px;
}
.numberings-p {
   right: -115px;
}
.alphabets-p p, .numberings-p p {
   transform: rotate(180deg);
}


.alphabet,
.numbering {
   color: rgb(111, 53, 0);
   text-align: center;
   padding: 20px;
}