@import "_nullstyle.scss";

body {
   background: #000;
}
.container {
   max-width: 1200px;
   margin: 100px auto;
  
}

.img-wrapp-min {
   max-width: 100%;
   height: 400px;
   display: flex;
   justify-content: space-between;   
   flex-wrap: wrap;
   border: 1px solid red;

  
}
.img-min {
   width: 300px;
   margin: 0 auto;
   cursor: pointer;
   margin: auto;
}
.img-min:hover {
width: 310px;
height: 310px;
}


.img-wrapp-big {
   display: flex;
   justify-content: space-between;   
   flex-wrap: wrap;
   margin-top: 100px;
   max-width: 100%;
   height: 300px;
   border: 1px solid red;

}
.img-big {
   width: 300px;
   margin: 0 auto;
   cursor: pointer;
   margin: auto;
   transform: scale(1.5, 1.5);
   opacity: 0.09;
}